*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

header{
     background-color: #b91c1c;
     padding: 1rem 2rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: white;
}

body{
     font-family: "Exo 2", sans-serif;
     background: #fffafa;
     color: #222;
}

.about{
     font-size: 30px;
}

header nav a{
     color: white;
     text-decoration: none;
     font-weight: 500;
     margin: 15px;
     font-size: 20px;
}

header nav a.active{
     text-decoration: underline;
}

.about-us{
     text-align: center;
     font-size: 35px;
     margin-top: 2rem;
     margin-left: 7rem;
     margin-right: 7rem;
     color: red;
}

.about-us p{
     color: black;
     font-size: 2rem;
     margin-bottom: 3rem;
}

.mission{
     text-align: center;
     font-size: 35px;
     margin-left: 7rem;
     margin-right: 7rem;
     color: #b91c1c;
}

.mission p{
     font-size: 2rem;
     color: black;
     margin-bottom: 3rem;
}

.values{
     text-align: center;
     font-size: 35px;
     margin-left: 7rem;
     margin-right: 7rem;
     color: #b91c1c;
}

.values ul{
     list-style: none;
     font-size: 2rem;
     color: black;
}

footer {
     background: #f8f8f8;
     text-align: center;
     padding: 1rem;
     font-size: 1rem;
     margin-top: 8rem;
}